name: Dotnet app
on: [push]
jobs:
  check-code:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository code
      uses: actions/checkout@v6
    - name: Setup Dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'
    - name: Test build
      run: dotnet build MvcIngredient.csproj
    - name: Run test
      run: dotnet test
  docker:
      runs-on: ubuntu-latest
      steps:
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        - name: Build and push app
          uses: docker/build-push-action@v6
          with:
            push: true
            tags: doc12mp/mysql_app:dotnet_app
        - name: Build and push nginx proxy
          uses: docker/build-push-action@v6
          with:
            push: true
            tags: doc12mp/mysql_app:dotnet_nginx